body{
background: linear-gradient(
180deg,
#081120 0%,
#102a43 50%,
#1b4965 100%
);
color: white;
}
nav{
    background-image: url(kepek/M4TD.jpg);
}
#a {
background-image: url("kepek/M4TD.jpg");
background-repeat: no-repeat;
background-size: contain;
background-position: center;
height: 100vh;

}